
# Data
pandas==2.2.2
numpy==1.26.4

# ML
scikit-learn==1.5.2
lightgbm==4.3.0
xgboost==2.0.3
catboost==1.2.5
shap==0.45.0
optuna==3.6.1

# API & HTTP
requests==2.32.3
fastapi==0.111.0
uvicorn==0.30.1

# Geospatial & Visualization
folium==0.16.0
shapely==2.0.4

# Utilities
joblib==1.4.2
python-dotenv==1.0.1
loguru==0.7.2
tqdm==4.66.4

# Testing
pytest==8.2.2


cdsapi==0.7.2
netCDF4==1.7.1
xarray==2024.6.0

dask==2024.8.0